@{
    ViewData["Title"] = "Index";
}

<h1>ברוכים הבאים לרשת החנויות </h1>

<a asp-action="ShoeIndex" class="btn btn-primary btn-sm">לחנות הנעליים</a>
<a asp-action="HatIndex" class="btn btn-primary btn-sm">לחנות הכובעים</a>

